<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ruidacosta.GPSTracker"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="17"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="com.ruidacosta.GPSTracker.Main"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.ruidacosta.GPSTracker.AppPreferences" android:screenOrientation="portrait"/>

        <activity android:name="com.ruidacosta.GPSTracker.LastTracks" android:screenOrientation="portrait"/>

        <activity android:name="com.ruidacosta.GPSTracker.TrackDetail" android:screenOrientation="portrait"/>

        <service android:name="com.ruidacosta.GPSTracker.GPSCollectorService" android:exported="false"/>
    </application>
</manifest>
